@mixin image-hero{
  background-image: linear-gradient(to right bottom, 
  rgba($color-primary-light, 0.8), 
  rgba($color-primary-dark, 0.8)),
  url(../img/hero.jpg);
}

@mixin background-text{
  background: linear-gradient(to right,$color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
}

@mixin flex-format{
  display: flex;
  max-width: 114rem;
  margin: 0 auto ;
  justify-content: space-around;
  gap: 6rem;
}