.section-features{
  padding: 20rem 0;
  margin-top: -10rem; 
  @include image-hero;
  background-size: cover;
  transform: skewY(-7deg);

  &>* {
    transform: skewY(7deg);
  }

  &__content-box{
    display: flex;
    max-width: 114rem;
    margin: 0 auto ;
    justify-content: space-around;
    gap: 6rem;

  }

  &__card {
    width: 50%;
  }
}