.section-stories{
  padding: 15rem 0;

  position: relative;

  &__content-box{
    @include flex-format;
    flex-direction: column;
    align-items: center;
  }

  &__story-card {
    width: 75%;
    margin: 0 auto;
  }
}